body{
    background-image: url(../images/bground.png);
}
.brand-logo{
    font-weight: bolder;
}
.nav-extended {
    background-image: url(../images/denver_city.png);
}
#travel-icon{
    font-size: 50px;
}
#travel-icon{
    font-size: 40px;
}
.dropdown-content {
    font-size: 14px !important;
}
#input-city{
    margin-top: 50px;
}
.dropdown-trigger{
    border-radius: 40%;
    margin-top: 38px;
    display: inline-block;
}
.mapLocation{
    position:relative;
    height:400px;
}
.titleInfo{
    position:relative;
    height:377px;
}
.nav-extended{
    border: 5px solid lightseagreen;
}
